body {
    background-color: aliceblue;
    font-family: 'Itim', cursive;
    font-size: 1.5rem;
    padding: 10px 100px 10px 10px;
}

h1 {
    position: relative;
}
h1:before {
    content: blank;
    position: absoute;
    height: 6px;
    width: 100%;
    background-color: fuchsia;
    bottom: 4px;
    z-index: -1;

}