body {
    background-color: paleturquoise;
    font-family: 'Itim', cursive;
    font-size: 1.5rem;
    padding: 10px 100px 10px 10px;
}

h1 {
    position: relative;
}
h1::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    background: limegreen;
    bottom: 4px;
    z-index: -1;
}

button {
    margin-bottom: 20px;
    background: tomato;
    border-radius: 12px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.hidden {
    display: none;
}

.random-jokes {
    display: flex;
    flex-direction: column;
}

.bubble {
    display: inline-block;
}

#new-joke-button {
    margin-bottom: 20px;
    background: orange;
    border-radius: 12px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}